<!-- views/partials/header.ejs -->
<header>
  <h1>My Community App</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/groups">Groups</a></li>
      <li><a href="/create-poll">Create Poll</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
